<nav class="navbar navbar-expand-lg bg-dark bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="header collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">L5 Music</a>
        <ul class="navbar-list-items navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/details', 1]" [routerLinkActive]="['is-active']">Artists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/details', 2]" [routerLinkActive]="['is-active']">Albums</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/tracks']" [routerLinkActive]="['is-active']">Tracks</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>