*{
  color: var(--color-white);
}

.home{
  height: 100%;
}

.main{
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  background: linear-gradient(90deg, var(--color-violet) 0%, var(--color-ciano) 80%);
  color: var(--color-white);
}

.div-image{
  height: 100%;
  width: 30%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.div-image img{
  height: 80%;
}

.main-content{
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content h2{
  font-size: 50px;
  font-weight: 700;
}

.main-content p{
  font-weight: 100;
}

.main-buttons{
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.main-buttons button{
  width: 40%;
}

.trending-button{
  display: flex;
  padding: 11px 22px 3px 22px;
  justify-content: space-between;
  align-items: center;
}

.top-trending{
  display: flex;
  flex-direction: column;
  height: 28vh;
  width: auto;
  padding: 0 var(--spacing-1) !important;
  background: var(--secondary-bg-color)
}

.top-trending > *{
  color: var(--color-white) !important;
}

.top-trending > h2{
  padding: var(--spacing-2) 0 0 var(--spacing-2);
}

.artist-trending{
  display: flex;
  justify-content: space-evenly;
  height: 50%;
}

.artist-div{
  width: 20%;
  min-height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-artist{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 97%;
  min-height: 90%;
  margin: 0;
  border-radius: var(--spacing-1);
  background: var(--color-desatured-purple);
}

.card-artist:hover{
  box-shadow: 1px 1px 4px var(--color-gray-shadow);
}

.card-header{
  width: 30%;
}

.card-header > img {
  width: 70%;
  border-radius: 50%;
  margin-left: var(--spacing-1);
}

.card-body{
  width: 70%;
}

.card-text{
  font-size: 14px;
  font-weight: 100;
}

@media (max-width: 870px) {

  .main {
    height: 580px;
  }

  .div-image > img {
    height: 75% !important;
  }

  .main-content {
    position: absolute;
    padding-top: 31px;
    text-align: center;
  }

  .main-buttons {
    width: 85%;
  }

  .main-buttons > button {
    width: 45%;
  }

  .trending-button{
    justify-content: center;
  }

  .trending-button > button {
    display: none;
  }

  .top-trending {
    height: 100%;
    align-items: center;
  }

  .artist-trending {
    flex-direction: column;
    align-items: center;
    width: 55%;
  }

  .card-artist{
    padding: 10px;
  }

  .artist-div{
    width: 75%;
    margin-bottom: 23px;
  }
}

@media (max-width: 490px){
  .artist-trending{
    width: 100%;
  }
}