@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/primeicons/primeicons.css';

@import './scss/reset.scss';
@import './scss/variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  height: auto;
  font-family: var(--font-default);
}

:root .p-button{
  background-color: transparent;
  padding: 0 !important;
  border: none;
}