:root {
  --main-bg-color: #F5F5F5;
  --secondary-bg-color: #f7f7f7;

  /* COLORS DEFAULT */
  --color-violet: #634191;
  --color-desatured-pink: #9c266e;
  --color-blue:#0e2139;
  --color-black: #000000;
  --color-black-gray: #353535;
  --color-white: #ffffff;

  /* SPACING */
  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 32px;

  /* TEXTS COLOR PALLETE*/
  --main-text-color: #141516;
  --secondary-text-color: #DDDCE1;

  /* FONTS */
  --font-default: "Poppins";

  /* FONT SIZE */
  --title: 48px;
  --title-card: 22px;
}
